*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --very-dark-gray: hsl(0,0%,41%);
    --dark-gray: hsl(0,0%,55%);
    --white: hsl(0,0%,100%);
    --black: hsl(0,0%,0%);

    --ff-josefin-sans: "Josefin Sans", sans-serif;
    --ff-alata: "Alata", sans-serif;
    --fs-h1: 4.7em;
    --fs-h2: 3.2em;
    --fs-h3: 2.1em;
    --fs-regular: 15px;
    --fw-300: 300;

    --px: 165px; /*padding left e right*/
    --mb: 100px; /*margin botton*/
}

html{
    font-family: var(--ff-alata);
    font-size: var(--fs-regular);
}

li{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
     color: var(--white);
}

h1, h2, h3{
    font-family: var(--ff-josefin-sans);
    font-weight: var(--fw-300);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-container{
    max-width: 1440px;
    margin: auto;
    background: var(--white);
}

header{
    background: #0006 url(images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 65px var(--px);
    margin-bottom: var(--mb);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    align-items: center;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, min-content));
    gap: 32px;
}

nav ul li{
    position: relative;
}

nav ul li::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background: var(--white);
}

nav ul li:hover::after{
    width: 25px;
}

.banner h1{
    max-width: 650px;
    padding: 38px;
    margin-bottom: 80px;
    border: 3px solid var(--white);
    font-size: var(--fs-h1);
    color: var(--white);
}

.about{
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.about .img-box img{
    display: block;
}

.about .content-box{
    position: absolute;
    top: 180px;
    left: 50%;
    padding: 95px;
    max-width: 640px;
    background: var(--white);
}

.about .content-box h2{
    font-size: var(--fs-h2);
    margin-bottom: 30px;
}

.about .content-box p{
    color: var(--dark-gray);
    line-height: 1.7;
}

.product{
    position: relative;
    padding: 0 var(--px);
    margin-bottom: var(--mb);
}

.product h2{
    font-size: var(--fs-h2);
    margin-bottom: 80px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}